.DS_Store
*.pyc
*.o

algorithm/treeBurrowsWheelerTransform/builder
algorithm/treeBurrowsWheelerTransform/checkresult
algorithm/treeBurrowsWheelerTransform/queries
algorithm/treeBurrowsWheelerTransform/resultconvert
algorithm/treeBurrowsWheelerTransform/tconvert
algorithm/treeBurrowsWheelerTransform/test
algorithm/treeBurrowsWheelerTransform/traverse
